x-service: &app_service
  build:
    context: .docker
    dockerfile: Dockerfile
  stdin_open: true
  tty: true
  environment:
    GO_FLAGS: "-mod=vendor"
  volumes:
    - .:/app
  working_dir: /app

services:
  app:
    image: app:latest
    <<: *app_service
    ports:
      - "${USER_SERVICE_PORT:-5000}:5000"
      - "${INVENTORY_SERVICE_PORT:-5001}:5001"
      - "${ORDER_SERVICE_PORT:-5002}:5002"

  adminer:
    image: adminer:4.8.1
    restart: always
    ports:
      - "${ADMINER_PORT:-8080}:8080"
