services:
  app:
    image: app:latest
    build:
      context: .docker
      dockerfile: Dockerfile
    stdin_open: true
    tty: true
    environment:
      GO_FLAGS: "-mod=vendor"
    volumes:
      - .:/app
    working_dir: /app
    ports:
      - "${USER_PORT:-5000}:${USER_PORT:-5000}"
      - "${INVENTORY_PORT:-5001}:${INVENTORY_PORT:-5001}"
      - "${ORDER_PORT:-5002}:${ORDER_PORT:-5002}"

  user-service:
    build:
      context: .
      dockerfile: .docker/prod.Dockerfile
      args:
        SERVICE_NAME: userservice
    env_file:
      - .env
    ports:
      - "${USER_SERVICE_PORT:-50051}:${USER_SERVICE_PORT:-50051}"
    environment:
      - USER_HOST=${USER_SERVICE_HOST:-}
      - USER_PORT=${USER_SERVICE_PORT:-50051}
    networks:
      - microservices
    restart: always

  inventory-service:
    build:
      context: .
      dockerfile: .docker/prod.Dockerfile
      args:
        SERVICE_NAME: inventoryservice
    env_file:
      - .env
    ports:
      - "${INVENTORY_SERVICE_PORT:-50052}:${INVENTORY_SERVICE_PORT:-50052}"
    environment:
      - INVENTORY_HOST=${INVENTORY_SERVICE_HOST:-}
      - INVENTORY_PORT=${INVENTORY_SERVICE_PORT:-50052}
    networks:
      - microservices
    restart: always

  adminer:
    image: adminer:4.8.1
    restart: always
    ports:
      - "${ADMINER_PORT:-8080}:8080"

networks:
  microservices:
    driver: bridge
